Retail Store Association Rule Mining. This data set contains 7500 transactions over the course of a week at a French retail store.

Write a program to find interesting association rules in this data set.

In [8]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import fpgrowth
from mlxtend.frequent_patterns import association_rules
from mlxtend.frequent_patterns import apriori
import pandas as pd
import numpy as np

In [5]:
#Reading the CSV to a dataframe

store_data=pd.read_csv('store_data.csv')

In [6]:
#Checking data

store_data.head()

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#Converting dataframe values of floats to string to make sure and convert it to list of lists

store_data_ls = []
for i in range(0,7500):
    store_data_ls.append([str(store_data.values[i,j]) for j in range(0, 20)])

store_data_ls = np.array(store_data_ls)
store_data_ls.shape

(7500, 20)

In [10]:
te=TransactionEncoder()
te_arr=te.fit_transform(store_data_ls)
te_arr

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False,  True, False]])

In [11]:
#verify column names
te.columns_

[' asparagus',
 'almonds',
 'antioxydant juice',
 'asparagus',
 'avocado',
 'babies food',
 'bacon',
 'barbecue sauce',
 'black tea',
 'blueberries',
 'body spray',
 'bramble',
 'brownies',
 'bug spray',
 'burger sauce',
 'burgers',
 'butter',
 'cake',
 'candy bars',
 'carrots',
 'cauliflower',
 'cereals',
 'champagne',
 'chicken',
 'chili',
 'chocolate',
 'chocolate bread',
 'chutney',
 'cider',
 'clothes accessories',
 'cookies',
 'cooking oil',
 'corn',
 'cottage cheese',
 'cream',
 'dessert wine',
 'eggplant',
 'eggs',
 'energy bar',
 'energy drink',
 'escalope',
 'extra dark chocolate',
 'flax seed',
 'french fries',
 'french wine',
 'fresh bread',
 'fresh tuna',
 'fromage blanc',
 'frozen smoothie',
 'frozen vegetables',
 'gluten free bar',
 'grated cheese',
 'green beans',
 'green grapes',
 'green tea',
 'ground beef',
 'gums',
 'ham',
 'hand protein bar',
 'herb & pepper',
 'honey',
 'hot dogs',
 'ketchup',
 'light cream',
 'light mayo',
 'low fat yogurt',
 'magazines',
 'mashed potato',
 'mayonnaise',
 'meatballs',
 'melons',
 'milk',
 'mineral water',
 'mint',
 'mint green tea',
 'muffins',
 'mushroom cream sauce',
 'nan',
 'napkins',
 'nonfat milk',
 'oatmeal',
 'oil',
 'olive oil',
 'pancakes',
 'parmesan cheese',
 'pasta',
 'pepper',
 'pet food',
 'pickles',
 'protein bar',
 'red wine',
 'rice',
 'salad',
 'salmon',
 'salt',
 'sandwich',
 'shallot',
 'shampoo',
 'shrimp',
 'soda',
 'soup',
 'spaghetti',
 'sparkling water',
 'spinach',
 'strawberries',
 'strong cheese',
 'tea',
 'tomato juice',
 'tomato sauce',
 'tomatoes',
 'toothpaste',
 'turkey',
 'vegetables mix',
 'water spray',
 'white wine',
 'whole weat flour',
 'whole wheat pasta',
 'whole wheat rice',
 'yams',
 'yogurt cake',
 'zucchini']

In [12]:
store_df=pd.DataFrame(te_arr,columns=te.columns_)
store_df.head(),store_df.shape

(    asparagus  almonds  antioxydant juice  asparagus  avocado  babies food  \
 0       False    False              False      False    False        False
 1       False    False              False      False    False        False
 2       False    False              False      False     True        False
 3       False    False              False      False    False        False
 4       False    False              False      False    False        False

    bacon  barbecue sauce  black tea  blueberries  ...  turkey  vegetables mix  \
 0  False           False      False        False  ...   False           False
 1  False           False      False        False  ...   False           False
 2  False           False      False        False  ...    True           False
 3  False           False      False        False  ...   False           False
 4  False           False      False        False  ...   False           False

    water spray  white wine  whole weat flour  whole wheat pasta  \
 0        False       False             False              False
 1        False       False             False              False
 2        False       False             False              False
 3        False       False             False              False
 4        False       False             False              False

    whole wheat rice   yams  yogurt cake  zucchini
 0             False  False        False     False
 1             False  False        False     False
 2             False  False        False     False
 3              True  False        False     False
 4             False  False        False     False

 [5 rows x 121 columns],
 (7500, 121))

In [13]:
#Ignoring nans
store_dff=store_df.drop('nan',axis=1)

In [14]:
frequent_itemsets=fpgrowth(store_dff,min_support=0.1,use_colnames=True)

In [15]:
frequent_itemsets

    support         itemsets
0  0.179733           (eggs)
1  0.238267  (mineral water)
2  0.132000      (green tea)
3  0.129600           (milk)
4  0.170933   (french fries)
5  0.174133      (spaghetti)
6  0.163867      (chocolate)

In [16]:
frequent_itemsets = fpgrowth(store_dff, min_support = 0.05, use_colnames = True)
frequent_itemsets

     support                    itemsets
0   0.179733                      (eggs)
1   0.087200                   (burgers)
2   0.062533                    (turkey)
3   0.238267             (mineral water)
4   0.132000                 (green tea)
5   0.129600                      (milk)
6   0.058533          (whole wheat rice)
7   0.076400            (low fat yogurt)
8   0.170933              (french fries)
9   0.050533                      (soup)
10  0.174133                 (spaghetti)
11  0.095333         (frozen vegetables)
12  0.080400                   (cookies)
13  0.051067               (cooking oil)
14  0.163867                 (chocolate)
15  0.071333                    (shrimp)
16  0.060000                   (chicken)
17  0.068400                  (tomatoes)
18  0.095067                  (pancakes)
19  0.052400             (grated cheese)
20  0.098267               (ground beef)
21  0.079333                  (escalope)
22  0.063200           (frozen smoothie)
23  0.081067                      (cake)
24  0.065733                 (olive oil)
25  0.050933       (mineral water, eggs)
26  0.059733  (mineral water, spaghetti)
27  0.052667  (mineral water, chocolate)

In [25]:
frequent_itemsets_2 = apriori(store_dff, min_support=0.1, use_colnames = True)
frequent_itemsets_2
association_rules(frequent_itemsets, metric = 'confidence', min_threshold = 0.2)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(mineral water),(eggs),0.238267,0.179733,0.050933,0.213766,1.189351,0.008109,1.043286
1,(eggs),(mineral water),0.179733,0.238267,0.050933,0.283383,1.189351,0.008109,1.062957
2,(mineral water),(spaghetti),0.238267,0.174133,0.059733,0.250699,1.439698,0.018243,1.102184
3,(spaghetti),(mineral water),0.174133,0.238267,0.059733,0.343032,1.439698,0.018243,1.159468
4,(mineral water),(chocolate),0.238267,0.163867,0.052667,0.221041,1.348907,0.013623,1.073398
5,(chocolate),(mineral water),0.163867,0.238267,0.052667,0.321400,1.348907,0.013623,1.122506

In [26]:
rules = association_rules(frequent_itemsets, metric = 'lift', min_threshold = 1.2)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(mineral water),(spaghetti),0.238267,0.174133,0.059733,0.250699,1.439698,0.018243,1.102184
1,(spaghetti),(mineral water),0.174133,0.238267,0.059733,0.343032,1.439698,0.018243,1.159468
2,(mineral water),(chocolate),0.238267,0.163867,0.052667,0.221041,1.348907,0.013623,1.073398
3,(chocolate),(mineral water),0.163867,0.238267,0.052667,0.321400,1.348907,0.013623,1.122506

The top scoring rule with highest confidence is Spaghetti -> Mineral Water, and Choclate -> Mineral Water. We can see that these 2 rules have highest lift along with a good support values. 

These rules signifies that every transaction having Spaghetti or Choclate as an antecedent will have a consequent of mineral water in their basket. Having Spaghetti or Choclate in the basket means that the next item the person purchases is most likely to be mineral water.

Randomly split your records into two sets with roughly 50% of data each. Now use the Apriori algorithm to determine rules on both of these sets. Do you find similar rules on both sets? What does the similary/the differences indicate?

In [19]:
#import library to split the data into 2 fractions at random

from sklearn.model_selection import train_test_split
store_1,store_2=train_test_split(store_data,test_size=0.5,random_state=42)

In [20]:


store_1_ls = []
store_2_ls = []
for i in range(0, 3750):
    store_1_ls.append([str(store_1.values[i,j]) for j in range(0, 20)])
    store_2_ls.append([str(store_2.values[i,j]) for j in range(0, 20)])

# conveting it into an numpy array
store_1_ls = np.array(store_1_ls)
store_2_ls = np.array(store_2_ls)
# checking the shape of the array
store_1_ls.shape,store_2_ls.shape

((3750, 20), (3750, 20))

In [21]:
te1=TransactionEncoder()
te_arr_1 = te1.fit_transform(store_1_ls)
te2=TransactionEncoder()
te_arr_2 = te2.fit_transform(store_2_ls)

In [22]:
final_data_1 = pd.DataFrame(te_arr_1, columns = te1.columns_)
final_data_1

,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,body spray,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,True,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3745,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,True,False,False,False
3746,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3747,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3748,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3749,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,False,False,False

In [23]:
final_data_2 = pd.DataFrame(te_arr_2, columns = te2.columns_)
final_data_2

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3745,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3746,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3747,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,True,True,False,False
3748,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3749,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [24]:
#Ignoring nans

final_data_1=final_data_1.drop('nan',axis=1)
final_data_2=final_data_2.drop('nan',axis=1)

In [27]:
# Applying Apriori on itemset 1

frequent_itemsets_1 = apriori(final_data_1, min_support=0.1, use_colnames = True)
frequent_itemsets_1

    support         itemsets
0  0.165333      (chocolate)
1  0.180000           (eggs)
2  0.162400   (french fries)
3  0.136267      (green tea)
4  0.101867    (ground beef)
5  0.123467           (milk)
6  0.239200  (mineral water)
7  0.184000      (spaghetti)

In [28]:
# Applying Apriori on itemset 2

frequent_itemsets_2 = apriori(final_data_2, min_support=0.1, use_colnames = True)
frequent_itemsets_2

    support         itemsets
0  0.162400      (chocolate)
1  0.179467           (eggs)
2  0.179467   (french fries)
3  0.127733      (green tea)
4  0.135733           (milk)
5  0.237333  (mineral water)
6  0.164267      (spaghetti)

We can notice that the frequent itemsets from both halves of the parent data are very similar and only have a minimal difference in the support and the itemsets.

The first itemset has the following list of items in its frequent itemlist:
1. Choclate
2. Eggs
3. Milk
4. French Fries
5. Green Tea
6. Spaghetti 
7. Mineral water
8. Ground Beef

The second itemset has the following list of items in its frequent itemlist:
1. Choclate
2. Eggs
3. Milk
4. French Fries
5. Green Tea
6. Spaghetti 
7. Mineral water


The support difference between the 2 frequent itemsets is very similar and is differed by 0.02 atmost. One other observation is that there is ground beef in the first frequent itemset but not in the second itemset, this might be because of the appearance of the list of items in the first half of the data. We can notice similar observations on multiple random splits from the parent data.